*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque';
}

body {
    background-color: gray;
    min-height: 100vh;
    min-width: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

#root {
    overflow: hidden;
}


// .custom-blur {
//     mask: linear-gradient(to right, black calc(100% - 8rem), transparent 100%);
//   }